html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
    title GP
  body
    div(class='container')
      h1 GP
      a(class='btn btn-default', href='/metadata') Metadata
    
    script(src='js/jquery.min.js')  