html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
    title GP
  body
    include navbar.pug
    div(class='container-fluid')
      h1 GP
      p POC on Generic Payment
    
    script(src='js/jquery.min.js')
    script(src='/js/bootstrap.min.js')