html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title=title
  body
    div(class='container')
      h1 Metadata
      a(href='/metadata/new') Create
      table(class='table table-condensed fields')
        tr
          th
          th Name
          th Created
          th Fields
        each m in metadata || []
          tr
            td
              a(href='/form/' + m._id) View
            td=m.name
            td=moment(m.createdAt).fromNow()
            td=(m.fields || []).map(f=>f.name).join(', ')

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/metadata.js')
