html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title New Validation 
  body
    include navbar.pug
    div(class='container-fluid')
      h1 New Validation
      div(class='col-md-4')
        div(class='form-group')
          label Name*
          input(class='form-control metadata_name', type='text', placeholder='Name')
        div(class='form-group')
          label Module*
          input(class='form-control module_name', type='text', placeholder='Name')
      
      div(class='col-md-12')        
        a(class='btn btn-default', href='/validation') Cancel        
        button(class='btn btn-primary create') Create

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/new-validation.js')
