html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title New Payment Method Configuration
  body
    include navbar.pug
    div(class='container-fluid')
      h1 New Payment Method Configuration
      div(class='col-md-4')
        div(class='form-group')
          label Method*
          input(class='form-control metadata_name', type='text', placeholder='Name')
        div(class='form-group')
          label Configuration JSON*
          textarea(class='form-control config_name', rows="20", placeholder='{}')
      
      div(class='col-md-12')        
        a(class='btn btn-default', href='/metadata') Cancel        
        button(class='btn btn-primary create') Create

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/new-metadata.js')
