html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title validations
  body
    include navbar.pug
    div(class='container-fluid')
      h1 Validation      
      table(class='table table-condensed fields')
        tr
          th
          th Name
          th Created
          th Module Name
        each v in validations || []
          tr
            td
              button(class='btn btn-default delete', type='button', data-id=v._id)
                  span(class='glyphicon glyphicon-trash', aria-hidden='true')
            td=v.name
            td=moment(v.createdAt).fromNow()            
            td=v.moduleName

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/validation.js')