.validation-list .list-group-item {
  cursor: pointer
}

.validation-list .list-group-item .glyphicon {
  float: right;
  color: transparent;
}

.validation-list .list-group-item.selected .glyphicon {
  color: #333;
}

.btn+.btn {
  margin-left: 5px;
}

iframe{
  width: 100%;
  border: solid 1px #ccc;
}